html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: #021427;
  color: #f8f8ff;
}
#nav {
  position: sticky;
  top: 0;
  background-color: #020318;
  font-family: "Lexend Peta", sans-serif;
  font-size: 25px;
  color: #f8f8ff;
  padding: 10px;
  border-bottom: #f8f8ff 1px solid;
  z-index: 100;
}
.navList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  top: 0;
}
.navTitles {
  float: left;
  padding-right: 7%;
}
a {
  font-family: "Montserrat", sans-serif;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #f8f8ff;
  text-align: center;
  padding: 5px 10px 0px 10px;
}
a:hover {
  color: #f8f8ff;
  font-weight: bold;
  border: #7182ab 1px solid;
  border-radius: 10px;
  background-color: #7182ab;
}
.container {
  background-color: #021427;
  height: 100vh;
}
h1 {
  font-family: "Cantarell", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

#htmlContent {
  display: flex;
  align-items: center;
  justify-items: center;
}
.htmlText {
  width: 70%;
}
.htmlImg {
  width: 30%;
  margin-left: 20%;
}
#htmlLogo {
  padding-top: 30px;
  height: 100px;
  width: 100px;
}
.htmlElements {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
#cssText {
  width: 70%;
}
#cssContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}
#cssImg {
  width: 30%;
  margin-left: 20%;
}
#cssImg img {
  padding-top: 30px;
  height: 100px;
  width: 100px;
}
#jsContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}
#jsText {
  width: 70%;
}
#jsImg {
  width: 30%;
  margin-left: 20%;
}
#jsImg img {
  padding-top: 30px;
  height: 100px;
  width: 100px;
}
.content {
  width: 85vw;
  margin-left: 15px;
}
label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
#submitbtn {
  background-color: #90ee90;
  height: 30px;
  width: 60px;
  border: 0px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
#results {
  height: 100px;
  margin: 15px;
}
